html {
    font-family: 'Overpass', sans-serif;
}
  
body {
    width: 100%;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

h1 {
    font-weight: 600;
    font-size: 28px;
}

#next{
    display: none;
}

#sub{
    display: none;
}
.bg {
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-image: url(https://i.imgur.com/6BvjlQU.jpg);
    position: absolute;
    top: 0;
    filter: blur(2px);
    z-index: -10;
}

.cont {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FEFEFA;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    min-height: 350px;
}

.intro {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-basis: 1;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:#170F09;  
}

.intro span {
    margin-bottom: 20px;
}

#info {
    cursor: pointer;
}

.result {
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-basis: 1;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    min-width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:#170F09;  
}

button {
    width: 100%;
    max-width: 200px;
    border: 3px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
    padding: 14px 16px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    font-family: inherit;
    color: #170F09;
    margin-bottom: 10px;
    text-align: center;
}

button:hover{
    border: 3px solid #1c7c7c;
    color: #1c7c7c;
    transition: all .3s ease-in-out;

}

.disabled {
    background-color: #CCC;
    border: 3px solid #ccc;
    color: #170F09;
}

.disabled:hover {
    border: 3px solid #ccc!important;
    color: #170F09!important;
}

#warning{
    color: #EE1B1B;
    font-size: 12px;
    margin-top: 20px;
}

#more {
    display: none;
    font-size: 12px;
    padding: 5px 0;
}

#start {
    margin-top: 20px;
}

.quiz, .answers {
    margin: 20px;
    min-width: 250px;
}

#num{
    background-color:#1c7c7c;
    font-size: 18px;
    color: #FEFEFA;
}

#q{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.radio{
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 1.5rem;
    display: inline-block;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #CCC;
    border-radius: 4px;
    background: transparent;
}

[type="radio"]:not(:checked):hover + label:after {
    content: '';
    width: 14px;
    height: 14px;
    background: #CCC;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 3px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}


[type="radio"]:checked + label::after,
[type="radio"]:not(:checked) + label::after {
    content: '';
    width: 14px;
    height: 14px;
    background: #1c7c7c;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 3px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

[type="radio"]:not(:checked) + label::after {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + label::after, [type="radio"]:hover + label::after {
    opacity: 1;
    -webkit-transform: scale(1);
	-ms-transform: scale(1);
    transform: scale(1);
}
  
#op1,#op2,#op3{
    padding: 5px;
    font-size: 22px;
}

.score{
    font-size: 28px;
}
.message{
    font-size: 20px;
    padding: 10px 0;
}
.answers{
    display: none;
}
#a1,#a2,#a3,#a3,#a4{
    color:#01CA60;
    font-weight: bold;
}

@media screen and (min-width:640px){
    .cont {
        min-height: 400px;
        width: 600px;
    }

    .intro, .result {
        width: 350px;
    }
    
    .quiz, .answers{
        margin: 30px 45px;
        min-width: 350px;
    }
}
